colorthief==0.2.1
darkdetect==0.7.1
distlib==0.3.6
filelock==3.11.0
Jinja2==3.1.2
MarkupSafe==2.1.2
numpy==1.24.2
Pillow==9.5.0
platformdirs==3.2.0
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.1
PyQt6==6.4.2
PyQt6-Fluent-Widgets==0.6.9
PyQt6-Frameless-Window==0.1.0
PyQt6-Qt6==6.4.3
PyQt6-sip==13.4.1
pyqtdarktheme==2.1.0
pyserial==3.5
pywin32==306
QCandyUi==0.14
qt-material==2.14
scipy==1.10.1
virtualenv==20.21.0
